<a href="https://colab.research.google.com/github/manjeetsrivastava/ecommerce-purchase-exploratory-data-analysis/blob/main/data_analysis_on_ecommerce_purchases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/Ecommerce Purchases")
df.T

# 1. CHECK THE FIRST 10 ROWS.

In [ ]:
df.head(10)

# 2. CEHCK THE LAST 10 ROWS

In [ ]:
df.tail(10)

# 3. CHCEKING THE DATATYPE OF EACH COLUMN

In [ ]:
df.info()
# for checking data type we can also check by typing df.dtype

In [ ]:
df.dtypes

# 4.CHECK NULL VALUES IN THE DATASET

In [ ]:
df.isnull().sum()

# 5. HOW MANY ROWS AND COLUMNS IN THE DATASET

In [ ]:
df.columns

In [ ]:
len(df.columns)

14

In [ ]:
len(df.index)
# HERE YOU CAN ALSO CHECK IT BY DF.INFO() .INFO()METHOD SHOWS TOTALNO OF ENTRIES

10000

# 6.HIGHEST AND LOWEST PRICES

In [ ]:
df['Purchase Price'].max()

99.99

In [ ]:
df['Purchase Price'].min()

0.0

# 7. AVERAGE PURCHASE PRICE

In [ ]:
df['Purchase Price'].mean()

50.347302

# 8. HOW MANY PEOPLE HAVE FRENCH 'FR' AS THEIR LANGUAGE

In [ ]:
len(df[df['Language']=='fr'])
# here we can also use count method for the counting of people who have language as france
# ex: - df[df['language']== 'fr'].count()

1097

# 9. JOB TITLE THAT CONTAIN ENGINEER

In [ ]:
df['Job']=='Engineer'

In [ ]:
df[df['Job'] == 'Engineer']

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

In [ ]:
df['Job'].unique()

# 10. FIND EMAIL OF TH PERSON WITH THE FOLLOWING I.P. ADDRESS '132.207.160.22'

In [ ]:
df[df['IP Address'] == '132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

# 11.HOW MANY PEOPLE HAVE MASTERCARD AS THEIR CREDIT CARD PROVIDER AND MAKE A PURCHASE ABOVE 60?

In [ ]:
df[df['CC Provider'] == "Mastercard"]

In [ ]:
len(df[df['CC Provider']=='Mastercard'])

816

In [18]:
df[(df['CC Provider']== 'Mastercard') & (df['Purchase Price']>60)].count()

Address             139
Lot                 139
AM or PM            139
Browser Info        139
Company             139
Credit Card         139
CC Exp Date         139
CC Security Code    139
CC Provider         139
Email               139
Job                 139
IP Address          139
Language            139
Purchase Price      139
Temp                139
dtype: int64

In [5]:
'''
we can also solve the above question as:=

df[(df['CC Type'] = 'Mastercard')  \
          & (df['Purchase Price']>60)].count()

'''

"\nwe can also solve the above question as:=\n\ndf[(df['CC Type'] = 'Mastercard')            & (df['Purchase Price']>60)]\n\n"

# 12.FIND EMAIL OF THE PERSON WITH THE FOLLOWING CREDIT CARD NUMBER '4664825258997302'

In [ ]:
df[df['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

# 13. HOW MANY PEOPLE HAVE PURCHASED DURING A.M. OR P.M.?

In [ ]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

# 14. HOW MANY PEOPLE HAVE CREDIT CARD THAT EXPIRES IN 2020?

In [11]:
df['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [12]:
# first method to calculate total no of people whose card expires in 2020 i.e; by creating own function
def fun():
  count = 0
  for date in df['CC Exp Date']:
    if date.split('/')[1] == '20':
      count = count +1
  print(count)

In [13]:
fun()

988

In [16]:
# Another method for finding the total no  of people whose cards expires in 2020 i.e; by using lambda function
df[df['CC Exp Date'].apply(lambda x:x[3:] =='20' )].count()
# here we can use count method or len method to find the total number of people 
# len(df[df['CC Exp Date'].apply(lambda x : x[3:] == '20')])

Address             988
Lot                 988
AM or PM            988
Browser Info        988
Company             988
Credit Card         988
CC Exp Date         988
CC Security Code    988
CC Provider         988
Email               988
Job                 988
IP Address          988
Language            988
Purchase Price      988
dtype: int64

In [18]:
len(df[df['CC Exp Date'].apply(lambda x : x[3:] == '20')])

988

# 15. THE MOST POPULAR EMAIL PROVIDER (E.G; YAHOO.COM , GOOGLE.COM)

In [ ]:
# first method
list1 = [] # creating empty list
for email in df['Email']:
   email.split('@')
   list1.append(email.split('@')[1]) 

list1

In [ ]:
df['Temp'] = list1
df.T

In [11]:
df['Temp'].value_counts().head(5)

yahoo.com      647
hotmail.com    635
gmail.com      585
smith.com       14
johnson.com     12
Name: Temp, dtype: int64